div.page-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
    background-color: #1b1b1b;
}

.page-404 .title {
    margin-bottom: 40px;
    color: #fff;
}

.page-404 .link {
    text-decoration: none;
}